/* Manual CSS overrides for engineeringdiplomats.org */
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');

* {
    font-family: 'Arbutus Slab', serif;
}

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.site-content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-top: 3px;
    padding: 1rem !important;
    left: 0px;
    right: 0;
    bottom: 0px;
    width: 100%;

}

img {
    padding: 5px;
    border: 1px solid #ccc;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.is-6by4 {
    padding-top: 100%;
    border: 1px solid #ccc;
}
.is-6by4 img {
    position: absolute;
    top: 25%;
    border: unset;
}

.is-note {
    padding-top: 5px;
}

/* Remove borders */
.button {
    border: unset !important;
}

.tabs a,
.tabs ul {
    border-bottom-style: unset !important;
    border-bottom-width: unset !important;
}

/* Color adjustments */
.footer {
    background-color: #1b1b1b !important;
}

.social-link {
    color: #bd0d0d !important;
}

.social-link:hover {
    color: #474444 !important;
}

.button.is-ttu-red {
    background-color: #bd0d0d !important;
}

.navbar-menu {
    background-color: #0a0a0a !important;
}

a.navbar-item.is-active {
    border-bottom-color: #bd0d0d !important;
    color: #bd0d0d !important;

}

a.navbar-item {
    background-color: #0a0a0a !important;
}

a.navbar-item:focus,
a.navbar-item:hover {
    background-color: #bd0d0d !important;
    border-bottom-color: #bd0d0d !important;
    color: #bd0d0d !important;
}

a.navbar-item.brand:focus,
a.navbar-item.brand:hover {
    background-color: black !important;
    border-bottom-color: black !important;
    color: white !important;
}

/* QA Containers */
.answer-container,
.answer-submitter {
    display: none;
    padding-top: 10px;
}

/* Misc. ID selections */
#recaptcha {
    transform: scale(0.92);
    -webkit-transform: scale(0.92);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: #bd0d0d;
    }

    .buttons .button:not(:last-child) {
        margin-right: unset !important;
    }

    .buttons {
        margin-right: 1% !important;
        margin-left: 1% !important;
    }

    .navbar-menu.is-active>.navbar-end>.buttons {
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        display: list-item;
    }
}