# .coveragerc to control coverage.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
	send_text_message
	pragma: allow
omit =
	*/production/*
	setup.py
	**points.py**

[run]
omit =
	*/production/*
	setup.py
	**points.py**

[html]
directory = docs/coverage_report
