.git/*
.pytest_cache/*
.vagrant/*
.vscode/*
backpop/*
docs/*
engineering_diplomats.egg-info/*
k8s/*
logs/*
tests/*
.coverage
.coveragerc
.editorconfig
.gitignore
.pyup.yml
.travis.yml
credentials.tar**
dependencies.yml
LICENSE.txt
Makefile
README.md
Vagrantfile
