[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
flask-login = "*"
flask-wtf = "*"
flask-oauthlib = "*"
twilio = "*"
gevent = "*"
google-api-python-client = "*"
"oauth2client" = "*"
flask-mail = "*"
waitress = "*"
numpy = "*"

[dev-packages]
pytest-cov = "*"
pytest-flask = "*"
pytest-progress = "*"
sphinx = "*"
recommonmark = "*"
coveralls = "*"

[requires]
python_version = "3.7"
