[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "docker build -t engineeringdiplomats/engineeringdiplomats.org:latest ."
push = "docker push engineeringdiplomats/engineeringdiplomats.org:latest"

[packages]
flask = "*"
pymongo = "*"
flask-login = "*"
flask-wtf = "*"
flask-oauthlib = "*"
twilio = "*"
gevent = "*"
google-api-python-client = "*"
"oauth2client" = "*"
flask-mail = "*"
numpy = "*"
dnspython = "*"
python-dateutil = "*"
python-dotenv = "*"
logme = "*"
python-binary-memcached = "*"
google-cloud-trace = "*"
opencensus = "*"

[dev-packages]
pytest-cov = "*"
pytest-flask = "*"
pytest-progress = "*"
sphinx = "*"
recommonmark = "*"
coveralls = "*"

[requires]
python_version = "3.7"
