
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                {% if "user" in session %}
                Currently logged in as: {{ session.user.name }} | {{ session.user.email }} | {% if session.user.is_diplomat -%} <i class="fas fa-globe"></i> {%- else -%} <i class="fas fa-user"></i> {%- endif -%}
                {%- else -%}
                You are not logged in.
                {% endif %}
                <br />
                <br />
                <strong>Copyright &copy; 2018 - 2019</strong> Texas Tech University WCOE Engineering Diplomats
                <br />
                <br />
                <a href="http://github.com/swoldemi/engineeringdiplomats.org">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.facebook.com/groups/958336087636320/?ref=br_rs">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <br />
                <br />
                <a style="padding-left: 4px" href="https://bulma.io">
                    <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma badge" width="155" height="24" />
                </a>
                <br />
                <br />
                <a href="https://python.org">
                    <img src="https://www.python.org/static/community_logos/python-powered-h-50x65.png" alt="Python Powered bage">
                </a>
            </p>
        </div>
    </footer>