<!DOCTYPE HTML>
<html>

<head>
	{%- include "_partials/_header.jinja2" %}
</head>

<body class="has-navbar-fixed-top">
	{%- include "_partials/_nav.jinja2" %}

	{% block body -%}
	{%- endblock %}

	{%- include "_partials/_footer.jinja2" %}

	<script defer src="/static/js/main.js"></script>
</body>

</html>