{% extends "layout.jinja2" -%}
{% block body -%}
    {% with messages = get_flashed_messages() -%}
    {% if messages %}
    <div class="box cta">
        <p class="has-text-centered">
            {% for message in messages -%}
            <div class="notification is-dark">{{ message }}</div>
            {% endfor -%}
        </p>
    </div>
    {%- endif -%}
    {%- endwith %}
    <section>
        <div class="hero-body">
            <div class="container is-dark has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-square">
                            <img src="{{ url_for('static', filename='img/fall-2018-engineering-diplomats.jpg') }}" alt="Fall 2018 Engineering Diplomats" />
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Engineering Diplomats
                        </h1>
                        <h2 class="subtitle is-5">
                            Texas Tech University Whitacre College of Engineering
                        </h2>
                        <h2 class="subtitle is-4">
                            The Texas Tech University WCOE Engineering Diplomats are dedicated to assiting
                            undergraduate engineering students fulfill their International Experience Requirement.
                            <br />
                            <br />
                            We have office hours Monday through Friday from 9:00 AM to 4:00 PM in the Engineering
                            Opporunities Center.
                        </h2>
                        <br/>
                        <p class="has-text-centered">
                            <a class="button is-medium is-ttu-red has-text-white is-outlined" href="{{ url_for('resources') }}">
                                Learn more
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%- endblock -%}