<footer class="footer has-text-white">
    <div class="content has-text-centered">
        {% if "user" in session %}
        Currently logged in as: {{ session.user.name }} | {{ session.user.email }} | {% if session.user.is_diplomat -%}
        <i class="fas fa-globe"></i> {%- else -%} <i class="fas fa-user"></i> {%- endif -%}
        {%- else -%}
        You are not logged in.
        {% endif %}
        <br />
        <br />
        <strong class="has-text-white">Copyright &copy; 2018 - 2019</strong> Texas Tech University WCOE Engineering
        Diplomats
        <br />
        <br />
        <nav class="level">
            <div class="level-item">
                <div>
                    <a class="social-link" href="https://www.facebook.com/groups/958336087636320/">
                        <i class="fab fa-facebook-f fa-3x"></i>
                    </a>
                </div>
            </div>


            <div class="level-item">
                <div>
                    <a class="social-link" href="https://www.instagram.com/TTUengineersabroad/">
                        <i class="fab fa-instagram fa-3x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</footer>