<footer class="footer has-text-white">
    <div class="content has-text-centered">
        {% if "user" in session %}
        Currently logged in as: {{ session.user.name }} | {{ session.user.email }} | {% if session.user.is_diplomat -%}
        <i class="fas fa-globe"></i> {%- else -%} <i class="fas fa-user"></i> {%- endif -%}
        {%- else -%}
        You are not logged in.
        {% endif %}
        <br />
        <br />
        <strong class="has-text-white">Copyright &copy; 2018 - 2019</strong> Texas Tech University WCOE Engineering
        Diplomats
        <br />
        <br />
        <nav class="level">
            <div class="level-item">
                <div>
                    <a href="https://bulma.io">
                        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma badge" width="155"
                            height="24" />
                    </a>
                </div>
            </div>
            <div class="level-item">
                <div>
                    <a href="https://python.org">
                        <img src="https://www.python.org/static/community_logos/python-powered-h-50x65.png" alt="Python Powered badge">
                    </a>
                </div>
            </div>
            <div class="level-item">
                <div>
                    <a href="https://aws.amazon.com/">
                        <img src="https://d1.awsstatic.com/logos/aws/PB_AWS_logo_RGB.jpg" alt="Powered by AWS badge"
                            width="147.963684px" height="77.4357093px">
                    </a>
                </div>
            </div>
            <div class="level-item">
                <div>
                    <a class="facebook-link" href="https://www.facebook.com/groups/958336087636320/?ref=br_rs">
                        <i class="fab fa-facebook-f fa-3x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</footer>