<meta charset="utf-8" />
<meta name="description" content="Dedicated website for the Engineering Diplomats at Texas Tech University">
<meta name="author" content="TTU Engineering Diplomats">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="57x57" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/favicon-16x16.png">
<link rel="manifest" href="https://storage.googleapis.com/engineeringdiplomats.org/ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://storage.googleapis.com/engineeringdiplomats.org/ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title>Engineering Diplomats | Texas Tech University</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' )}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-divider@2.0.1/dist/css/bulma-divider.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>