{% extends "layout.jinja2" -%}
{% block body -%}
{% include "_partials/_flash.jinja2" -%}
<div class="box">
    <p class="has-text-centered">
        <span class="tag is-dark">Need help?</span>
        <br /> Submit any questions you may have below!
        <br /> An Engineering Diplomat will send a response to your TTU email address.
        <br /> <br /> <a class="button is-small has-text-white is-ttu-red" href="https://www.depts.ttu.edu/coe/iep/faq.php">Click
            here to view Frequently Asked Questions</a>
    </p>
</div>
<section class="section">
    <div class="container is-vcentered">
        <form method="POST" action="/ask">
            {{ form.csrf_token }}
            <div class="field">
                <label class="label">Name (read-only)</label>
                <div class="control has-icons-right">
                    <input name="name" class="input" type="text" placeholder="First and last name" value="{{ session.user.name }}"
                        readonly>
                    <span class="icon is-small is-right">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Email (read-only)</label>
                <div class="control has-icons-right">
                    <input name="email" class="input" type="email" placeholder="Email" value="{{ session.user.email }}"
                        readonly>
                    <span class="icon is-small is-right">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Question</label>
                <div class="control">
                    <textarea name="question" class="textarea" placeholder="Type your question here!" required></textarea>
                </div>
            </div>

            <div id="recaptcha">
                {{- form.recaptcha }}
            </div>

            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-link is-ttu-red" />
                </div>
            </div>

        </form>
    </div>
</section>
{%- endblock %}