{% extends "layout.jinja2" -%}
{% block body -%}
{% include "_partials/_flash.jinja2" -%}
{% if "user" in session -%}
{% if session.user.is_diplomat -%}
{%- set is_diplomat = True -%}
{%- else -%}
{%- set is_diplomat = False -%}
{%- endif %}
{%- endif %}

<div class="box">
    <p class="has-text-centered">
        Upcoming information sessions and other important events.
        {% if is_diplomat -%}
        <div class="has-text-centered">
            <span class="tag is-light">Viewing as Engineering Diplomat.
            <code>Diplomats Attending</code> and <code>RSVP</code> button are hidden to others.</span>
        </div>
        {% endif %}
    </p>
</div>

<section class="section">
    <div class="container">
        {%- if events -%}
        {% for x in range(events|length) -%}
        <div class="columns">
            <div class="column is-full is-centered">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <h4> {{ events[x].0 }}</h4>
                            <p><i>Date & Time:</i> {{ events[x].1 }}</p>
                            <p><i>Location:</i> {{ events[x].2 }}</p>
                            {% if is_diplomat -%}

                            {% if events[x].3 is not none -%}
                            <p><i>Diplomats Attending:</i> {{ events[x].3|join(" & "|safe) }}</p>
                            {% if session.user.email in events[x].3 -%}
                            <form method="POST">
                                <input type="hidden" name="event_id" value="{{ events[x].4 }}" />                                
                                <input type="hidden" name="unregister" value="{{ session.user.email }}" />
                                <button type="submit" class="button is-warning">Cancel RSVP</button>
                            </form>
                            {% else %}
                            <form method="POST">
                                <input type="hidden" name="event_id" value="{{ events[x].4 }}" />
                                <input type="hidden" name="email" value="{{ session.user.email }}" />
                                <button type="submit" class="button is-link is-ttu-red">RSVP</button>
                            </form>
                            {%- endif %}
                            {%- else -%}
                            <p><i>Diplomats Attending:</i> None</p>
                            <form method="POST">
                                <input type="hidden" name="event_id" value="{{ events[x].4 }}" />
                                <input type="hidden" name="email" value="{{ session.user.email }}" />
                                <button type="submit" class="button is-link is-ttu-red">RSVP</button>
                            </form>
                            {%- endif %}
                            {%- endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%- endfor -%}
        {%- else -%}
        <div class="box">
            <p class="has-text-centered">
                There are currently no upcoming events.
            </p>
        </div>
        {%- endif %}
    </div>
</section>
{%- endblock %}