{% extends "layout.jinja2" -%}
{% block body -%}
{% include "_partials/_flash.jinja2" -%}
<div class="box">
    <p class="has-text-centered">
        Upcoming information sessions and other important events.
    </p>
</div>
{% if "user" in session -%}
{% if session.user.is_diplomat -%}
{%- set is_diplomat = True -%}
{%- else -%}
{%- set is_diplomat = False -%}
{%- endif %}
{%- endif %}
<section class="section">
    <div class="container">
        {%- if events -%}
        {% for x in range(events|length) -%}
        <div class="columns">
            <div class="column is-full is-centered">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <h4> {{ events[x].0 }}</h4>
                            <p><i>Date & Time:</i> {{ events[x].1 }}</p>
                            <p><i>Location:</i> {{ events[x].2 }}</p>
                            {% if is_diplomat -%}
                            {% if events[x].3 is not none -%}
                            <p><i>Diplomats Attending:</i> {{ events[x].3|join(" & "|safe) }}</p>
                            {%- else -%}
                            <p><i>Diplomats Attending:</i> None</p>
                            {%- endif %}
                            <button type="submit" class="button is-link is-ttu-red">RSVP</button>
                            {%- endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%- endfor -%}
        {%- else -%}
        <div class="box">
            <p class="has-text-centered">
                There are currently no upcoming events.
            </p>
        </div>
        {%- endif %}
    </div>
</section>
{%- endblock %}