{% extends 'layout.jinja2' -%}
{% block body -%}
    {% with messages = get_flashed_messages() -%}
    {% if messages %}
    <div class="box cta">
        <p class="has-text-centered">
            {% for message in messages -%}
            <div class="notification is-dark">{{ message }}</div>
            {% endfor -%}
        </p>
    </div>
    {%- endif -%}
    {%- endwith %}
    <div class="box cta">
        <p class="has-text-centered">
            Upcoming information sessions and other important events.
        </p>
    </div>
    {% if "user" in session -%}
    {% if session.user.is_diplomat -%}
    {%- set is_diplomat = True -%}
    {%- else -%}
    {%- set is_diplomat = False -%}
    {%- endif %}
    {%- endif %}
    <section class="container is-mobile">
        {% if eventsl -%}
        <div class="columns is-multiline is-mobile">
            {% for x in range(eventsl|length) -%}
            {% if eventsl[x].0 is not none -%}
            <div class="column is-half">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="content">
                            <h4> {{ eventsl[x].0 }}</h4>
                            <p>Time: {{ eventsl[x].1 }}</p>
                            <p>Location: {{ eventsl[x].2 }}</p>
                            {% if is_diplomat %}
                            <p>Diplomats Attending: {{ eventsl[x].3 }}</p>
                            <a class="button is-link is-ttu-red" href="">RSVP</a>
                            {%- endif %}
                        </div>
                    </div>
                </div>
            </div>
            {%- endif %}
            {%- endfor -%}
        </div>
        <div class="columns is-multiline is-mobile">
            {% for x in range(eventsr|length) -%}
            {% if eventsr[x].0 is not none -%}
            <div class="column is-half">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="content">
                            <h4> {{ eventsr[x].0 }}</h4>
                            <p>Time: {{ eventsr[x].1 }}</p>
                            <p>Location: {{ eventsr[x].2 }}</p>
                            {% if is_diplomat %}
                            <p>Diplomats Attending: {{ eventsr[x].3 }}</p>
                            <a class="button is-link is-ttu-red" href="">RSVP</a>
                            {%- endif %}
                        </div>
                    </div>
                </div>
            </div>
            {%- endif %}
            {%- endfor -%}
        </div>
        {%- else -%}
        <div align="center" class="box cta">
            <p class="has-text-centered">
                There are currently no upcoming events.
            </p>
        </div>
        {%- endif %}
    </section>
{%- endblock -%}