{% extends "layout.jinja2" -%}
{% block body -%}
{% include "_partials/_flash.jinja2" -%}
<section class="section">
    <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column is-5 is-offset-1 is-mobile">
                <h1 class="title is-2 is-size-3-mobile">
                    Engineering Diplomats
                </h1>
                <h2 class="subtitle is-5 is-size-6-mobile">
                    Texas Tech University Whitacre College of Engineering
                </h2>
                <h2 class="subtitle is-4 is-size-6-mobile">
                    The Engineering Diplomats are dedicated to assisting
                    undergraduate engineering students at Texas Tech University fulfill their International Experience Requirement.
                    <br />
                    <br />
                    We have office hours every class day, Monday through Friday, from 9:00 AM to 4:00 PM in the
                    Engineering
                    Opportunities Center.
                </h2>
                <br />
                <p class="has-text-centered">
                    <a class="button is-medium is-ttu-red has-text-white is-outlined" href="{{ url_for('resources') }}">
                        Learn more
                    </a>
                </p>
            </div>
            <div class="column is-5">
                <figure class="image is-square">
                    <img src="https://storage.googleapis.com/engineeringdiplomats.org/current-diplomats.jpg" alt="Current Engineering Diplomats" />
                </figure>
            </div>
        </div>
    </div>
</section>
{%- endblock %}