{% extends 'layout.jinja2' -%}
{% block body -%}
    {% with messages = get_flashed_messages() -%}
    {% if messages %}
    <div class="box cta">
        <p class="has-text-centered">
            {% for message in messages -%}
            <div class="notification is-dark">{{ message }}</div>
            {% endfor -%}
        </p>
    </div>
    {%- endif -%}
    {%- endwith %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <form method="POST" action="/login" class="control">
                    <button type="submit" class="button has-text-white is-ttu-red is-medium is-fullwidth is-size-6-mobile">
                        <i class="fab fa-windows"></i>
                        &nbsp;
                        Login with your TTU Email Account
                    </button>
                </form>
            </div>
        </div>
    </section>
{%- endblock %}