{% extends "layout.jinja2" -%}
{% block body -%}
<div class="box">
    <p class="has-text-centered">
        Resources for information and reference.
    </p>
</div>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="card is-centered is-shady">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="https://www.depts.ttu.edu/coe/iep/images/NEW_ieplogo.png" alt="IEP Logo" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>WCOE International Engineering Program</h4>
                            <p>The main page for details on the Whitacre College of Engineering's International
                                Engineering
                                Program.</p>
                            <a class="button is-link is-ttu-red" href="https://www.depts.ttu.edu/coe/iep/">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-4">
                <div class="card is-centered is-shady">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="{{ url_for('static', filename='img/sa-banner.PNG') }}" alt="IEP Logo">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>TTU Study Abroad Programs</h4>
                            <p>Browse all TTU Study Abroad programs.</p>
                            <a class="button is-link is-ttu-red" href="https://www.depts.ttu.edu/international/studyabroad/">Learn
                                More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-4">
                <div class="card is-centered is-shady">
                    <div class="card-image">
                        <figure class="image is-6by4">
                            <img src="{{ url_for('static', filename='img/fall-2018-office-hour-schedule.PNG') }}" alt="Fall 2018 Office Hour Schedule">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Engineering Diplomats Office Hour Schedule</h4>
                            <p>Fall 2018 Office Hour Schedule.</p>
                            <a class="button is-link is-ttu-red" href="{{ url_for('static', filename='img/fall-2018-office-hour-schedule.PNG') }}">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%- endblock -%}